.July12{
    width: 50%;
    height: 100%;
    margin: auto;
    p,li{
        margin: 10px 0;
    }
    label{
        display: block;
        textarea{
            width: 500px;
            height: 70px;
        }
    }
}
.July12_btn{
    border: 3px solid #27405E;
    background: #4F81BD;
    font-size: 25px;
    color: white;
    width: 200px;
    height: 50px;
}