.Statics_box{
    margin: 10px 10px 40px;
    padding: 15px;
    background: white;
    pre{
        font-size: 20px;
    }
}
.Statics_box_gray{
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    ul{
        width: 97%;
        margin-left: 20px;
        li{
            padding-left: 15px;
            text-indent: -1em;
        }
        li:before {
            content: "-";
            font-family: monospace;
            font-size: 20px;
            padding-right: 5px;
          }
    }
    ol{
        margin-left: 50px;
        font-family: monospace;
        font-size: 20px;
    }
}