.leftbox{
    width: 250px;
    height: 100%;
    background: #333744;
    color: #e6e6e6;
    font-size: 14px;
    & .leftbox-list{
        background: #42485B;
        padding: 10px 25px 10px 15px;
        border-left: 3px solid #333744;
    }
    & .leftbox-list:hover{
        border-left: 3px solid #008B7E;
        color: #008B7E;
        background: #3C4253;
    }
    & .leftbox-click{
        padding: 10px 25px 10px 15px;
        border-left: 3px solid #008B7E;
        color: #008B7E;
        background: #3C4253;
    }
    & .right{
        float: right;
    }
    & .none{
        display: none;
    }
    & .list-1{
        padding-left: 20px;
    }
}
.show{
    display: block;
}
.none{
    display: none;
}